/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #ffeef6;
  --border-hover-color: rgba(50, 49, 45, 0.4);
  --footer-shadow-color: #ff8dcb;
}

.theme-light .decorative__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #ffeef6;
    --border-hover-color: rgba(50, 49, 45, 0.4);
    --footer-shadow-color: #ff8dcb;
  }
  .decorative__element {
    display: none;
  }
}

@media (min-width: 1024px) {
  :root.theme-light {
    --footer-shadow-color: #ff0070;
  }
}
