/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: "IBM Plex mono";
  --font-size: 18px;
  --btn-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #00012b;
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --footer-shadow-color: #ff0070;
}
